
<div class="show-user-main">
	<%= image_tag @user.avatar.url, class:'show-user-img' %>
	<h1 style="margin-top: 110px">@<%= @user.username %></h1>
	<h4 style="margin-top: 40px; margin-bottom: 0"><strong><%= @user.name %></strong></h4>
	<% if @user.location != '' %>
		<p><em>Based in <%= @user.location %></em></p>
	<% end %>
	<hr>
	<p><%= @user.bio %></p>
	<br>
	<% if current_user.following.include?(@user.id) %>
		<%= link_to 'Unfollow', unfollow_path(id: @user.id), class: 'btn button-danger toggle-follow' %>
	<% elsif current_user.id == @user.id %>
	 		<%= link_to "Edit Profile", edit_user_registration_path, class: 'btn button-primary' %>
	<% else %>
		<%= link_to 'Follow', now_following_path(id: @user.id), class: 'btn button-primary toggle-follow' %> 
	<% end %>
</div>
<div class="panel panel-default" style="margin: 20px 10px">
	<table class="table">
		<tr style="background-color: #EEE">
			<th>
				<h4 style="color: #6C7A89">View Tweets</h4>
			</th>
		</tr>
		<tbody>
		<% @user.tweets.reverse.each do |tweet| %>
			<tr>
				<td>
					<% if current_user.id == tweet.user.id %>
            <div class="dropdown pull-right">
              <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><%= link_to 'Edit', edit_tweet_path(tweet) %></li>
                <li><%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
            </div>
          <% end %>
					<% if current_user.id == @user.id %>
						<h5><%= link_to tweet.message.html_safe, tweet_path(id: tweet.id), style: 'color: black; text-decoration: none' %></h5>
					<% else %>
						<h5><%= tweet.message.html_safe %></h5>
					<% end %>
					<p style="color: slategrey"><sub><%= tweet.created_at.strftime('%b %e, %Y at %l:%M %p') %></sub></p>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>





